<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.cpacsystems.safeassist.test_volvo4">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <uses-permission android:name="se.cpacsystems.permission.CAN3" />
    <uses-permission android:name="se.cpacsystems.permission.CAN4" />
    <uses-permission android:name="se.cpacsystems.permission.MACHINE_FRAME" />
    <uses-permission android:name="se.cpacsystems.permission.MACHINE_SIGNAL" />
    <uses-permission android:name="se.cpacsystems.permission.MACHINE_STATUS" />
    <uses-permission android:name="se.cpacsystems.permission.POSITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <meta-data android:name="CPACToken" android:value="POuzLrQfOnuQ7E5459f1xlliNNm5K53gNmCwu2947PGCQPXO9JL4oQ49u59rh2S0SethHDg+FGMIDT0XqSsJFOkKbPkDJYRS66Fw4MS3k5C8SM23K/LjCCh6Xp1fBSUllLEmKHs7xA778twMLarvHusyLeP/1cjHzXj+NG631Nqlhtr80PIY46TnMrv+ogI+7VfhjH2OOMmPLbAtC89sKAwQ96XWKPMOuDis/HWluPj7Pp6TzWaCTYrgvp+t/3c7K5bToNkSuKEint6WkT5uQI0BXHwzE/sbR/90GqLIGOYEjMjDPmaAtD7PzMvMbftpITPVrdtU1q0KzGqWeiw6vg=="/>
        <uses-library android:name="se.cpacsystems.addon" android:required="false" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>